<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678521125119-g4dnqitssbbjvh0002p0fk36hsi78bpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678521125119-g4dnqitssbbjvh0002p0fk36hsi78bpr</string>
	<key>API_KEY</key>
	<string>AIzaSyDUkDQt_7qbfFcXFlJugO803De6I-fdbws</string>
	<key>GCM_SENDER_ID</key>
	<string>678521125119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tracker</string>
	<key>PROJECT_ID</key>
	<string>tracker-forinternship</string>
	<key>STORAGE_BUCKET</key>
	<string>tracker-forinternship.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678521125119:ios:33fe02acedc856db3f34ca</string>
	<key>DATABASE_URL</key>
	<string>https://tracker-forinternship-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>